<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>行程有变，不需要用车</string>
	<string>换用其他交通工具</string>
	<string>下车站点太多</string>
	<string>线路有点绕</string>
	<string>其他原因</string>
</array>
</plist>
