<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<string>0</string>
		<key>title</key>
		<string>自带地图</string>
		<key>isCancel</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<string>1</string>
		<key>title</key>
		<string>高德地图</string>
		<key>isCancel</key>
		<false/>
		<key>url</key>
		<string>iosamap://</string>
	</dict>
	<dict>
		<key>index</key>
		<string>2</string>
		<key>title</key>
		<string>百度地图</string>
		<key>isCancel</key>
		<false/>
		<key>url</key>
		<string>baidumap://</string>
	</dict>
	<dict>
		<key>index</key>
		<string>3</string>
		<key>title</key>
		<string>谷歌地图</string>
		<key>isCancel</key>
		<false/>
		<key>url</key>
		<string>comgooglemaps://</string>
	</dict>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>title</key>
		<string>取消</string>
		<key>isCancel</key>
		<true/>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
