<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>A</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>B</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>C</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>D</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>E</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>F</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>G</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>H</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>I</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>J</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>K</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>L</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>M</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>N</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>O</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>P</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>Q</string>
		<key>scenes</key>
		<array>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
			<string>安仁古镇</string>
		</array>
	</dict>
</array>
</plist>
