<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<string>0</string>
		<key>title</key>
		<string>密码管理</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>1</string>
		<key>title</key>
		<string>今日提成</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>6</string>
		<key>title</key>
		<string>录入油耗</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>7</string>
		<key>title</key>
		<string>查看评价</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>8</string>
		<key>title</key>
		<string>查看投诉</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>3</string>
		<key>title</key>
		<string>关于我们</string>
		<key>isShowSwitch</key>
		<false/>
	</dict>
</array>
</plist>
