<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isInfoEnable</key>
		<false/>
		<key>index</key>
		<string>0</string>
		<key>title</key>
		<string>头像</string>
		<key>isShowArrow</key>
		<true/>
		<key>isShowInfo</key>
		<false/>
		<key>isShowAvatar</key>
		<true/>
		<key>isShowChooseGender</key>
		<false/>
	</dict>
	<dict>
		<key>isInfoEnable</key>
		<true/>
		<key>index</key>
		<string>1</string>
		<key>title</key>
		<string>昵称</string>
		<key>isShowArrow</key>
		<false/>
		<key>isShowInfo</key>
		<true/>
		<key>isShowAvatar</key>
		<false/>
		<key>isShowChooseGender</key>
		<false/>
	</dict>
	<dict>
		<key>isInfoEnable</key>
		<true/>
		<key>index</key>
		<string>1</string>
		<key>title</key>
		<string>用户ID</string>
		<key>isShowArrow</key>
		<false/>
		<key>isShowInfo</key>
		<true/>
		<key>isShowAvatar</key>
		<false/>
		<key>isShowChooseGender</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<string>2</string>
		<key>title</key>
		<string>手机号</string>
		<key>isShowArrow</key>
		<false/>
		<key>isShowInfo</key>
		<true/>
		<key>isInfoEnable</key>
		<false/>
		<key>isShowAvatar</key>
		<false/>
		<key>isShowChooseGender</key>
		<false/>
	</dict>
</array>
</plist>
