<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>市内景点</string>
		<key>scenes</key>
		<array>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
			<string>武侯祠/锦里---0</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>近郊景点</string>
		<key>scenes</key>
		<array>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
			<string>武侯祠/锦里--1</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>远郊景点</string>
		<key>scenes</key>
		<array>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
			<string>武侯祠/锦里--2</string>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>都江堰景点</string>
		<key>scenes</key>
		<array>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
			<string>武侯祠/锦里--3</string>
		</array>
	</dict>
</array>
</plist>
